@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:20px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

#left_column {
    width: 65%;
    float: left;
}

#right_column {
    width: 35%;
    float: right;
}

.area{ 
    fill: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
    stroke-width: 0.5;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-width: 0.5;
    stroke-linejoin: round;
}

.jeremy {
  fill: green;
}

.andy {
  fill: red;
}

.yvette {
  fill: yellow;
}

.liz {
  fill: blue;
}

.owen {
  fill: purple;
}
