body {
  padding:20px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

.header {
  height: 50px;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  height: 50px;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.map-title {
  padding: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

#left_column {
    width: 60%;
    float: left;
    margin-top: 25px;
    position: relative;
}

#right_column {
    margin-top: 50px;
    width: 30%;
    float: right;
}

.area{ 
    fill: #E8E8E8;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
    stroke-width: 0.5;
}

.selected {
    fill: #fff;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-width: 0.5;
    stroke-linejoin: round;
}

#choiceform {
  position: absolute;
  right: 100px;
  bottom: 140px;
}

#controls {
  position: absolute;
  top: 130px;
}

.n2016 {
  margin-top: 15px;
  height: 40px;
}

.n2015 {
  margin-top: 20px;
  height: 40px;
}

.n2015__image,
.n2016__image {
  width: 20%;
  float: left;
}

.n2015__image img,
.n2016__image img {
  width: 50px;
}

.n2015__info,
.n2016__info {
  width: 80%;
  float: left;
}

.n2015__title,
.n2016__title {
  font-size: 16px;
}

.n2015__nomination,
.n2015__title,
.n2016__nomination,
.n2016__title {
  padding-left: 10px;
}

.jeremy {
  fill: #CE7DA5;
}

.andy {
  fill: #FFD1BA;
}

.yvette {
  fill: #493657;
}

.owen {
  fill: #BEE5BF;
}

.liz {
  fill: #DFF3E3;
}

.constituency {
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #777;
  margin-bottom: 5px;
}
